## MACS 30267 Final
Maha Adil, Angel Westbrook, Jason Gordon

[Intro to final]

In [2]:
import pandas as pd 

sentiment = pd.read_csv("Data/SentimentData.csv")

In [ ]:
sentiment.info()
# Not many non-null for coordinates. Should prolly kill that. Also not sure what the unnamed ones are.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163669 entries, 0 to 163668
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0.4    163669 non-null  int64
 1   Unnamed: 0.3    140068 non-null  float64
 2   Unnamed: 0.2    116905 non-null  float64
 3   Unnamed: 0.1    92634 non-null   float64
 4   Unnamed: 0      67488 non-null   float64
 5   id              163669 non-null  int64
 6   text            163669 non-null  object
 7   favorite_count  163669 non-null  int64
 8   retweet_count   163669 non-null  int64
 9   created_at      163669 non-null  object
 10  coordinates     43 non-null      object
dtypes: float64(4), int64(4), object(3)
memory usage: 13.7+ MB

In [ ]:
data = sentiment[["id", "text", "favorite_count", "retweet_count", "created_at", "coordinates"]]

,id,text,favorite_count,retweet_count,created_at,coordinates
0,1028954403129184256,Gotta love the facts. https://t.co/bZ2G8AZuo9,0,0,2018-08-13 10:40:21+00:00,NaN
1,1028954356572250112,RT @ToolangiForest: A great day of action for ...,0,35,2018-08-13 10:40:10+00:00,NaN
2,1028954497341480960,@jonkudelka Harvey Norman reckons climate chan...,2,0,2018-08-13 10:40:43+00:00,NaN
3,1028954494133043200,RT @jayrosen_nyu: Why does skepticism about im...,0,52,2018-08-13 10:40:43+00:00,NaN
4,1028954811511844864,RT @FranceinIreland: On 5th November we call a...,0,16,2018-08-13 10:41:58+00:00,NaN
...,...,...,...,...,...,...
163664,922440371761745922,#RRN https://t.co/9DTuWYbyzn E.P.A. Cancels Ta...,0,0,2017-10-23 12:31:37+00:00,NaN
163665,922445139192287234,RT @TIME: The EPA has pulled its scientists fr...,0,78,2017-10-23 12:50:34+00:00,NaN
163666,922480382351691776,RT @cathmckenna: We must all take action on #C...,0,21,2017-10-23 15:10:36+00:00,NaN
163667,922482231133855745,RT @TIME: The EPA has pulled its scientists fr...,0,125,2017-10-23 15:17:57+00:00,NaN
163668,922491854045765632,RT @RealJamesWoods: Guarantee the mainstream m...,0,2430,2017-10-23 15:56:11+00:00,NaN