## MACS 30267 Final
Maha Adil, Angel Westbrook, Jason Gordon

[Intro to final]

In [2]:
import pandas as pd 

sentiment = pd.read_csv("Data/SentimentData.csv")

In [3]:
sentiment

,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,id,text,favorite_count,retweet_count,created_at,coordinates
0,0,0.0,0.0,0.0,0.0,1028954403129184256,Gotta love the facts. https://t.co/bZ2G8AZuo9,0,0,2018-08-13 10:40:21+00:00,NaN
1,1,1.0,1.0,1.0,1.0,1028954356572250112,RT @ToolangiForest: A great day of action for ...,0,35,2018-08-13 10:40:10+00:00,NaN
2,2,2.0,2.0,2.0,2.0,1028954497341480960,@jonkudelka Harvey Norman reckons climate chan...,2,0,2018-08-13 10:40:43+00:00,NaN
3,3,3.0,3.0,3.0,3.0,1028954494133043200,RT @jayrosen_nyu: Why does skepticism about im...,0,52,2018-08-13 10:40:43+00:00,NaN
4,4,4.0,4.0,4.0,4.0,1028954811511844864,RT @FranceinIreland: On 5th November we call a...,0,16,2018-08-13 10:41:58+00:00,NaN
...,...,...,...,...,...,...,...,...,...,...,...
163664,163664,NaN,NaN,NaN,NaN,922440371761745922,#RRN https://t.co/9DTuWYbyzn E.P.A. Cancels Ta...,0,0,2017-10-23 12:31:37+00:00,NaN
163665,163665,NaN,NaN,NaN,NaN,922445139192287234,RT @TIME: The EPA has pulled its scientists fr...,0,78,2017-10-23 12:50:34+00:00,NaN
163666,163666,NaN,NaN,NaN,NaN,922480382351691776,RT @cathmckenna: We must all take action on #C...,0,21,2017-10-23 15:10:36+00:00,NaN
163667,163667,NaN,NaN,NaN,NaN,922482231133855745,RT @TIME: The EPA has pulled its scientists fr...,0,125,2017-10-23 15:17:57+00:00,NaN
163668,163668,NaN,NaN,NaN,NaN,922491854045765632,RT @RealJamesWoods: Guarantee the mainstream m...,0,2430,2017-10-23 15:56:11+00:00,NaN